head
  title Meteor
  meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
  meta(content="yes", name="apple-mobile-web-app-capable")
