@import 'nib'

//#header
  //width 100%
.navbar
  height 60px
  //line-height 60px
  margin-bottom 0px
  .navbar-header
    .fa.fa-bars
      float left
      font-size 35px
      line-height 60px
      margin-left 10px
    .navbar-brand
      margin-left 25px
      line-height 60px
      padding 0px
