@import 'nib'

body, html
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  a, button
    outline 0
    &:focus, &:active
      outline 0
  color black
  font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 400
  min-width 320px
  height 100%
  width 100%
  ::-ms-clear
    display none