template(name='sidebar')
  div#sidebar-wrapper
    ul.sidebar-nav
      li.sidebar-brand
        a(href='#')
          | Start Bootstrap
      li
        a(href='#') Dashboard
      li
        a(href='#') Shortcuts
      li
        a(href='#') Overview
      li
        a(href='#') Events
      li
        a(href='#') About
      li
        a(href='#') Services
      li
        a(href='#') Contact
